.container {
  display: flex;
  align-items: center;

  margin: 20px;
  color: #282a36;

  .inputBlock {
    display: flex;
    flex: 1;
    flex-direction: column;

    .reactSelect {
      min-width: 270px !important;
    }

    label {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 5px;
      color: #fbfffb;
    }

    input {
      cursor: text;

      border: 0;
      outline: 0;
      color: #fbfffb;

      padding: 10px;
      font-size: 16px;
      margin-bottom: 15px;

      min-width: 270px;
      border-radius: 5px;
      background-color: #262730;
      border: 1px solid #fbfffb;

      transition: all 150ms;

      &:read-only {
        cursor: pointer;
        color: #979797;
        border-color: #979797;
      }
    }
  }
}
