.hr {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 20px;

    content: "";

    width: 70%;
    height: 2px;

    background: linear-gradient(90deg, #3c5dfe, #6eb0fc, transparent);
  }
}
