.container {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .headerHR {
    width: 100%;
    position: absolute;
    top: 100px;

    &::after {
      position: absolute;
      top: 0;
      right: 0;

      content: "";

      width: 90%;
      height: 2px;

      background: linear-gradient(-90deg, #3c5dfe, #6eb0fc, transparent);
    }
  }

  .innerContainer {
    color: #fbfffb;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%;
    min-width: 370px;

    .hr {
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        left: 15px;

        content: "";

        width: 95%;
        height: 1px;

        background: linear-gradient(90deg, #6eb0fc, #3c5dfe, #6eb0fc);

        @media (max-width: 540px) {
          width: 92%;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;

      width: 100%;
      min-width: 200px;
      margin-top: 50px;

      label {
        font-weight: 700;
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 5px;
      }

      input {
        border: 0;
        outline: 0;
        color: #fbfffb;

        padding: 10px;
        font-size: 16px;
        margin-bottom: 15px;

        min-width: 270px;
        border-radius: 5px;
        background-color: #262730;
        border: 1px solid #fbfffb;
        transition: all 150ms;

        &:focus {
          border-color: #2684ff;
        }
      }

      button {
        border: 0;
        border-radius: 8px;
        align-self: flex-end;

        margin-top: 15px;
        padding: 10px 20px;

        width: 40%;
        min-width: 250px;

        font-weight: 700;
        cursor: pointer;

        transition: all 150ms;

        background: #3c5dfe;
        color: #f8f8f8;
        border: 2px solid #3c5dfe;

        transition: all 150ms;

        &:hover {
          color: #3c5dfe;
          background: none;
        }

        @media (max-width: 1600px) {
          min-width: 200px;
        }
      }

      @media (max-width: 1300px) {
        flex-direction: column;

        button {
          margin-top: 5px;
          width: 100%;
          margin-bottom: 10px;

          &:first-child {
            margin-top: 20px;
          }
        }
      }
    }

    @media (max-width: 500px) {
      position: absolute;

      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);

      background: none;
      box-shadow: none;
      overflow: hidden;
    }
  }
}
