button {
  border: 0;
  border-radius: 8px;

  height: 40px;
  padding: 10px;
  min-width: 100px;
  margin-left: 15px;

  font-weight: 700;
  cursor: pointer;

  background: none;
  color: #f8f8f8;
  background: #282a36;
  border: 2px solid #282a36;
  transition: all 150ms;

  // @media (max-width: 1600px) {
  //   min-width: 200px;
  // }
}

.saveBTN {
  color: #282a36;
  background: #50fa7b;
}
