* {
  margin: 0;
  padding: 0;
  scrollbar-width: auto;
  scrollbar-color: #bd93f9 #ffffff;
}

body {
  background: #17181e;
  background-image: linear-gradient(transparent, #17181e, #000a3d);
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* ===== Scrollbar CSS ===== */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #3c5dfe;
  border-radius: 10px;
}
