* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #17181e;
  background-image: linear-gradient(transparent, #17181e, #000a3d);
}

body,
input,
textarea {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 2px #3c5dfe;
}

/* ===== Scrollbar CSS ===== */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #3c5dfe;
  border-radius: 10px;
}
