@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  scrollbar-width: auto;
  scrollbar-color: #bd93f9 #ffffff;
}

body {
  background: #f8f8f2;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

/* ===== Scrollbar CSS ===== */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #bd93f9;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
