$border: 1px solid;

dialog {
  z-index: 1000;

  padding: 20px;
  position: absolute;

  top: 10px;
  border-radius: 10px;

  animation: slide 500ms, rslide 500ms 5s;

  @keyframes slide {
    0% {
      left: -500px;
    }
    100% {
      left: 0;
    }
  }

  @keyframes rslide {
    0% {
      left: 0;
    }
    100% {
      left: -500px;
    }
  }
}

.success {
  color: #17181e;
  border: $border #206330;
  background-color: #50fa7b;
}

.danger {
  color: #17181e;
  border: $border #e02626;
  background-color: #ff5555;
}

.info {
  color: #17181e;
  border: $border #56909c;
  background-color: #8be9fd;
}
