@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.overlay {
  &[data-state="open"] {
    animation: fadeIn 150ms ease-out;
  }

  &[data-state="closed"] {
    animation: fadeOut 150ms ease-in;
  }

  position: fixed;
  backdrop-filter: blur(4px);
  background-color: #00000060;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  &[data-state="open"] {
    animation: fadeIn 150ms ease-out;
  }

  &[data-state="closed"] {
    animation: fadeOut 150ms ease-in;
  }

  position: fixed;
  background-color: #262730;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 480px;
  color: #fff;
  border-radius: 8px;

  padding: 40px 32px;

  .title {
    font-size: 2.5rem;
    font-weight: 900;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 48px;

    .inputBlock {
      display: flex;
      flex-direction: column;
      gap: 8px;

      label {
        font-size: 18px;
        font-weight: 600;
      }

      .inputField {
        font-family: "Source Sans Pro", sans-serif;

        background-color: #17181e;
        color: #fff;
        padding: 16px 12px;
        font-size: 16px;
        border: none;
        border-radius: 8px;

        &::placeholder {
          color: #8e8e8e;
        }
      }
    }

    footer {
      display: flex;
      margin-top: 16px;
      justify-content: flex-end;

      gap: 16px;

      button {
        cursor: pointer;
        font-size: 1rem;
        padding: 0 20px;
        height: 48px;
        font-weight: 600;
        border: none;
        border-radius: 8px;
        color: #fff;
      }

      button[type="button"] {
        background-color: #6c6c6c;
        transition: all 150ms;

        &:hover {
          background-color: #5e5e5e;
        }
      }

      button[type="submit"] {
        background-color: #3c5def;
        transition: all 150ms;

        &:hover {
          background-color: #3350d1;
        }
      }
    }
  }
}
