.container {
    .header {
        display: flex;
        align-content: center;
        justify-content: space-between;
        background-color: #6EB0FC;
        width: 100%;
        height: 75px;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .imgBox {
        width: 120px;
        height: 100%;
        background-color: beige;
    }

    nav {
        display: flex;
        gap: 20px;
        align-items: center;

        button { // <--- Eu quero *muito* tacar um "border radius" nesses botões.
            min-width: 180px;
            min-height: 45px;
            color: #ffffff;
            font-size: 1.5rem;
        }

        button[id="login"] {
            background-color: transparent;
        }

        button[id="signup"] {
            background-color: black;
        }
    }
}